@{
    ViewData["Title"] = "Bookstore";
}

@model BookListViewModel
<header>
    @*<h1>This is an Online Book Store</h1>*@
</header>

@*Looping through each column in the database and output data + Bootstrap on the Index page*@



@foreach (var x in Model.Books)
{
<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @x.Title
            @*I change the badge color to green as another extra bootstrap element for this assignment*@
            <span class="badge badge-pill badge-success" style="float:right">
                <small>@x.Price.ToString("c")</small>
            </span>
        </h4>
    </div>
    <div class="card-text p-1">Author First Name: @x.Author_First</div>
    <div class="card-text p-1">Author Last Name: @x.Author_Last</div>
    <div class="card-text p-1">Publisher: @x.Publisher</div>
    <div class="card-text p-1">ISBN: @x.ISBN</div>
    <div class="card-text p-1">Classification: @x.Classification</div>
    <div class="card-text p-1">Category: @x.Category</div>
    <div class="card-text p-1">Page: @x.Page</div>
</div>
}

@*this is to build the pagination at the bottom of the page*@

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-danger" 
     class="btn-group pull-right m-1"></div>
@*i change the color of button to red with btn danger*@ 